<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.custtalk.web.mapper.CustMapper">

	<select id="getCustByCustno" parameterType="linkMap" resultType="linkMap">
		select * from cust
	</select>
	
</mapper>